@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>第三方公众号授权</title>
</head>
<body>
    <div>
        <a href="@(ViewBag.redirect_uri)">一键授权</a>
    </div>
</body>
</html>
