@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>返回</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/layer.mobile/layer.js"></script>

</head>
<body>
    <div>

    </div>
    <script>
        layer.open({
            content: "该会议已取消。",
            shadeClose: false
        });
    </script>
</body>
</html>

