@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>返回</title>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/layer.mobile/layer.js"></script>
</head>
<body>
    <div>

    </div>
    <script>
        layer.open({
            content: "您已完成提交，感谢您的参与。",
            shadeClose: false
        });

        setTimeout(function () {
            layer.closeAll();
        WeixinJSBridge.call('closeWindow');
                        }, 3000);
    </script>
</body>
</html>

